html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#gallery {
  display: flex;
  justify-content: space-around;
  /* flex-direction: column; */
}

#gallery img {
  width: auto;
  height: 280px;
}
